{% extends './layout_base.html' %}
{%block title%}Canciones{%endblock%}

{%block body%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-10 align-items-center">
            <div class="row row-cols-2 align-items-center">
                <div class="col"><h3 class="text-white fw-semibold">Listado de Canciones</h3></div>
                <div class="col">
                <form class="mb-lg-0" role="search">
                    <div class="d-flex align-items-center">
                        <input type="search" class="form-control bg-sucess me-3" placeholder="Search..." aria-label="Search">
                        <a class="text-end" type="submit">
                            <i class="btn btn-light  bi bi-search"></i>
                        </a></div>
                </form>
                </div>
            </div>
            <div class="row row-cols-2">
                {%for i in data%}
                <div class="col g-4">
                <div class="card mb-3 mx-auto paddingUnset">
                    <div class="card-header">
                        La podes encontrar en el album {{ i.obtenerAlbum().obtenerNombre() }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ i.obtenerNombre() }}</p>
                            <footer class="blockquote-footer">Artista: {{ i.obtenerArtista().obtenerNombre() }}</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%}