<!--NAVBAR CON:
TODOS por url ordenar desc o asc
* Artistas
* Albums
* Canciones
-->

<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%} {%endblock%}</title>
    {% block plugins %}
    {% endblock %}
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/all.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='/js/bootstrap.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/js/jquery-3.5.1.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/index.css') }}" rel="stylesheet" defer>
</head>
<body>
<!--Header(Navbar)-->
<header class="py-3 mb-4 border-bottom" id="static-navbar">
    <div class="container col-8 m-auto">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="py-2 me-3 linkRoute" href="/" aria-label="home" >
                <img src="{{ url_for('static', filename='/svgs/own/cd.svg') }}" 
                     class="d-block mx-auto" id="logo"/>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/api/artistas" class="nav-link px-4 text-decoration-none text-white linkRoute">Artistas</a></li>
                <li><a href="/api/albumes" class="nav-link px-4 text-decoration-none text-white linkRoute">Albums</a></li>
                <li><a href="/api/canciones" class="nav-link px-4 text-decoration-none text-white linkRoute">Canciones</a></li>
            </ul>
            <!--FALTA ACOMODAR ICONO SEARCH-->
            <form class="mb-lg-0 me-lg-3" role="search">
                <div class="d-flex align-items-center">
                <input type="search" class="form-control bg-sucess me-3" placeholder="Search..." aria-label="Search">
                <a class="text-end" type="submit">
                    <i class="btn btn-light fs-4 fa-solid fa-magnifying-glass disabled"></i>
                </a></div>
            </form>
        </div>
    </div>
</header> <!--header-end-->

{% block body %}{% endblock %}

</body>
</html>