<!--NAVBAR CON:
TODOS por url ordenar desc o asc
* Artistas
* Albums
* Canciones
-->

<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%} {%endblock%}</title>
    {% block plugins %}
    {% endblock %}
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/all.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='/js/bootstrap.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/js/jquery-3.5.1.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/index.css') }}" rel="stylesheet" defer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<!--Header(Navbar)-->
<header class="py-3 mb-5" id="static-navbar">
    <div class="col-8 m-auto">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="py-2 me-3 linkRoute" href="/" aria-label="home" >
                <img src="{{ url_for('static', filename='/svgs/own/cd.svg') }}" 
                     class="d-block mx-auto" id="logo"/>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
                <li><a href="/api/artistas" class="nav-link px-4 text-decoration-none text-white linkRoute">Artistas</a></li>
                <li><a href="/api/albumes" class="nav-link px-4 text-decoration-none text-white linkRoute">Albums</a></li>
                <li><a href="/api/canciones" class="nav-link px-4 text-decoration-none text-white linkRoute">Canciones</a></li>
            </ul>
        </div>
    </div>
</header> <!--header-end-->

{% block body %}{% endblock %}

</body>
</html>